$cell-size: calc(25% + 0.1rem);

@for $row from 0 through 3 {
    @for $column from 0 through 3 {
      .position_#{$row}_#{$column}:not(.isMoving) {
        top: calc(($cell-size * $row));
        left: calc(($cell-size * $column));
        width: calc($cell-size - 0.5rem);
      }
    }
  }
  
  @for $fromRow from 0 through 3 {
    @for $toRow from 0 through 3 {
      $name: row_from_#{$fromRow}_to_#{$toRow};
  
      @if $fromRow == $toRow {
        .#{$name} {
          top: calc(($cell-size * $toRow));
          width: calc($cell-size - 0.5rem);
        }
      } @else {
        .#{$name} {
          animation-duration: 0.20s;
          animation-name: $name;
          animation-fill-mode: forwards;
        }
  
        @keyframes #{$name} {
          from {
            top: calc(($cell-size * $fromRow));
          }
          to {
            top: calc(($cell-size * $toRow));
          }
        }
      }
    }
  }
  
  @for $fromColumn from 0 through 3 {
    @for $toColumn from 0 through 3 {
      $name: column_from_#{$fromColumn}_to_#{$toColumn};
  
      @if $fromColumn == $toColumn {
        .#{$name} {
          left: calc(($cell-size * $toColumn));
          width: calc($cell-size - 0.5rem);
        }
      } @else {
        .#{$name} {
          animation-duration: 0.20s;
          animation-name: $name;
          animation-fill-mode: forwards;
        }
  
        @keyframes #{$name} {
          from {
            left: calc(($cell-size * $fromColumn));
          }
          to {
            left: calc(($cell-size * $toColumn));
          }
        }
      }
    }
  }